<!-- updatemenu.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Update page" }) %>
<body>
  <%- include('partials/navbar') %>

  <div class="content">
    <div class="update">
      <h2>Update Menu</h2>
      <form action="/single-menu/<%= menu._id %>?_method=PUT" method="POST">
        <div class="col-md-12 form-group">
            <label>Title:</label
            ><input type="text" value="<%= menu.title %>" id="title" name="title" class="form-control" required />
          </div>
          <div class="col-md-12 form-group">
            <label>Ingredients:</label
            ><input type="text" value="<%= menu.ingredients %>" id="ingredients" name="ingredients" class="form-control" required />
          </div>
          <div class="col-md-12 form-group">
            <label>Price:</label
            ><input type="number" value="<%= menu.price %>" id="price" name="price" class="form-control" required />
          </div>

          <button class="btn btn-primary btn-shadow btn-lg" type="submit">Add Menu</button>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
